// カラー
//--------------------------
$cr-m: #8b6c3a; //メインカラー
$cr-a: #f7cb2a85; //アクセントカラー
$cr-white: #fff; //白
$cr-gray: #fafafa; //グレー
$cr-txt: #393327; // テキストカラー
$cr-table: #393327;

// マウスホバー
//--------------------------
$opacity: 0.7;

// フォント
//--------------------------
$ff-ja: YuMincho, /* Mac */ "Yu Mincho", /* Windows */ serif;
$ff-en: "Lora", serif;
$ff-code: monospace, sans-serif;
$fz-base: 16px;
$ff-base: $ff-ja;
$fw-base: 400;
$lh-base: 1.8;

// レイアウトサイズ
//--------------------------
$layout-width-inner: 1060px;
$breakpoint-size: (
  "sm": 576,
  "md": 768,
  "lg": #{$layout-width-inner},
  "xl": 1280,
);

// ブレークポイント (SP基準)
$breakpoints: (
  sm: "(min-width: #{map-get($breakpoint-size,'sm')}px)",
  md: "(min-width: #{map-get($breakpoint-size,'md')}px)",
  lg: "(min-width: #{map-get($breakpoint-size,'lg')}px)",
  xl: "(min-width: #{map-get($breakpoint-size,'xl')}px)",
  "hover": "(hover: hover)",
);

// ヘッダー高さ
//--------------------------
$header-height-sp: 68px;
$header-height-pc: 120px;

// 重なり順
//--------------------------
$layer: (
  //ドロワー
    drawer: 40,
  //フローディング
    floating: 30,
  //ヘッダー
    header: 20,
  //フッター
    footer: 10,
  //基準
    default: 1
);

// 余白
//--------------------------
$pd-pc: 40px; //PC
$pd-tab: 40px; //Tab
$pd-sp: 20px; //SP
