@use "../global" as g;

.p-drawer {
  position: relative;
  z-index: map-get(g.$layer, drawer);

  @include g.mq("lg") {
    display: none;
  }
}

.p-drawer__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - #{g.$header-height-sp});
  height: 100%;
  background: rgba(140, 109, 59, 0.7);
  transform: translateX(-100%);
  margin-top: g.$header-height-sp;
  opacity: 0;
  transition: opacity 0.4s ease-in;

  @include g.mq("md") {
    margin-top: g.$header-height-pc;
  }

  &.is-open {
    opacity: 1;
    transform: translateX(0px);
  }
}

.p-drawer__contents {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  transform: translateX(300px);
  width: 250px;
  height: calc(100vh - #{g.$header-height-sp});
  margin-top: g.$header-height-sp;
  padding: 40px 15px 50px;
  background: g.$drawer-content-bg;
  transition: transform 0.4s ease-in;

  @include g.mq("md") {
    margin-top: g.$header-height-pc;
    height: calc(100vh - #{g.$header-height-pc});
  }

  &.is-open {
    transform: translateX(0);
  }
}

.p-drawer__items {
}

.p-drawer__item {
  a {
    padding: 16px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    transition: color 0.3s;

    @include g.mq("hover") {
      &:hover {
        color: g.$cr-m;
      }
    }
  }
}

.p-drawer__sns {
  justify-content: center;
  margin-top: 40px;
}
