@use "../global" as g;

.p-global-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-global-nav__item {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.p-global-nav__item a {
  padding: 17px 0;
  font-size: 15px;
  letter-spacing: 0em;
  transition: color 0.3s;

  @include g.mq("xl") {
    letter-spacing: 0.05em;
  }

  @include g.mq("hover") {
    color: g.$cr-m;
  }
}
