@use "../global" as g;

.p-global-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-global-nav__item {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.p-global-nav__item a {
  font-size: 15px;
  letter-spacing: 0.01em;
  @include g.hover;
}
