@use '../global' as g;

.p-message {
}

.p-message__title {
  font-size: 20px;
  text-align: center;
  color: g.$cr-m;
	line-height: 1.5;
	letter-spacing: 0.05em;

  @include g.mq("md") {
    font-size: 32px;
  }
}

.p-message__items {
  margin-top: 36px;
}

.p-message__item {
  &:not(:first-child) {
    margin-top: 40px;
  }
}
