@use '../global' as g;

.p-worry {
}

.p-worry__img {
  img {
    width: 100%;
  }
}

.p-worry__body {
  margin: 0 auto;
}

.p-worry__title {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 37px;
  font-weight: 400;
  letter-spacing: 0.04em;

  @include g.mq("md") {
    font-size: 24px;
    margin-top: 0;
  }
}

.p-worry__lists {
  margin-top: 25px;

  @include g.mq("md") {
    margin-top: 32px;
  }
}

.p-worry__list {
  min-height: 35px;

  @include g.mq("md") {
    min-height: auto;
  }

  &:not(:first-child) {
    margin-top: 11px;

    @include g.mq("md") {
      margin-top: 21px;
    }
  }
}
