@use "../global" as g;

.l-header {
  height: g.$header-height-sp;
  background: g.$cr-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get(g.$layer, header);

  @include g.mq("md") {
    height: g.$header-height-pc;
  }
}

.l-header__inner {
  height: inherit;
  margin: 0 auto;
  padding-left: g.$pd-sp;
  padding-right: g.$pd-sp;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;

  @include g.mq("md") {
    padding-left: g.$pd-pc;
    padding-right: g.$pd-pc;
    max-width: g.$layout-width-inner + g.$pd-pc * 2;
  }
}

.l-header__gnav1 {
}

.l-header__logo {
}

.l-header__gnav2 {
  margin-left: auto;
  display: flex;
}


.l-header__line {
}

.l-header__hamburger {
  margin-left: 21px;
}
