@use "../global" as g;

.l-inner-base {
  height: inherit;
  margin: 0 auto;
  padding-left: g.$pd-sp;
  padding-right: g.$pd-sp;
  width: 100%;

  @include g.mq("md") {
    padding-left: g.$pd-pc;
    padding-right: g.$pd-pc;
  }
}

.l-inner {
  @extend .l-inner-base;
  @include g.mq("md") {
    max-width: g.$layout-width-inner + g.$pd-pc * 2;
  }
}

.l-inner--narrow {
  @extend .l-inner-base;
  @include g.mq("md") {
    max-width: 768px + g.$pd-pc * 2;
  }
}

.l-inner--wide {
  @extend .l-inner-base;
  @include g.mq("md") {
    max-width: 1100px + g.$pd-pc * 2;
  }
}
