@use "../global" as g;

.l-section {
  padding: 56px 0 56px;

  @include g.mq("md") {
    padding: 80px 0 80px;
  }

  @include g.mq("lg") {
    padding: 95px 0 95px;
  }
}

.l-section--profile {
  padding: 40px 0 80px;

  @include g.mq("md") {
    padding: 80px 0 80px;
  }

  @include g.mq("lg") {
    padding: 95px 0 95px;
  }
}

.l-section--worry {
  background: g.$cr-gray;
  padding: 0 0 56px;

  @include g.mq("md") {
    background: transparent url(../img/bg_worry_pc.jpg) no-repeat top right 30% /
      cover;
    padding: 80px 0 80px;
  }

  @include g.mq("lg") {
    padding: 95px 0 95px;
  }
}

.l-section--feature {
  padding: 30px 0 0;

  @include g.mq("md") {
    padding: 74px 0 0;
  }
}

.l-section--voice {
  @extend .l-section;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    background: transparent url(../img/bg_voice_sp.jpg) no-repeat center center /
      cover;
    height: calc(100% + #{g.vw(375, 32)});
    top: -#{g.vw(375, 32)};

    @include g.mq("md") {
      background: transparent url(../img/bg_voice_pc.jpg) no-repeat center
        center / cover;
      height: calc(100% + #{g.vw(1440, 65)});
      top: -#{g.vw(1440, 65)};
    }
  }
}

.l-section--price {
  @extend .l-section;
  background: transparent url(../img/bg_deco.png) no-repeat left top / contain;
}

.l-section--cta {
  @extend .l-section;
  background: transparent url(../img/bg_cta_sp.jpg) no-repeat center center /
    cover;

  @include g.mq("md") {
    background: transparent url(../img/bg_cta_pc.jpg) no-repeat center center /
      cover;
  }
}

.l-section--flow {
  @extend .l-section;
  background: g.$cr-gray;
}
