@use "../global" as g;

.l-section {
  padding: 56px 0 56px;

  @include g.mq("md") {
    padding: 95px 0 96px;
  }
}

.l-section--profile {
  padding: 40px 0 80px;

  @include g.mq("md") {
    padding: 93px 0 91px;
  }
}

.l-section--worry {
  background: g.$cr-gray;
  padding: 0 0 56px;

  @include g.mq("md") {
    background: transparent url(../img/bg_worry_pc.jpg) no-repeat top right 30% / cover;
    padding: 96px 0 96px;
  }
}

.l-section--feature {
  padding: 30px 0 0;

  @include g.mq("md") {
    padding: 74px 0 0;
  }
}

.l-section--voice {
  margin-top: g.vw(375, -31);
  background: transparent url(../img/bg_voice_sp.jpg) no-repeat center center / cover;
  padding: 94px 0 59px;

  @include g.mq("sm") {
    padding-top: 100px;
  }

  @include g.mq("md") {
    background: transparent url(../img/bg_voice_pc.jpg) no-repeat center center / cover;
    padding: 164px 0 99px;
    margin-top: -68px;
  }
}

.l-section--price {
	@extend .l-section;
  background: transparent url(../img/bg_deco.png) no-repeat left top / contain;
}

.l-section--cta {
  @extend .l-section;
  background: transparent url(../img/bg_cta_sp.jpg) no-repeat center center / cover;

  @include g.mq("md") {
    background: transparent url(../img/bg_cta_pc.jpg) no-repeat center center / cover;
  }
}

.l-section--flow {
  @extend .l-section;
  background: g.$cr-gray;
}
