@use "../global" as g;

.c-btn-toTop {
  display: none;
  width: 60px;
  height: 60px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: g.$cr-m;
  position: fixed;
  bottom: 30px;
  font-size: 16px;
  opacity: 0.6;
  color: #fff;
  right: 40px;
  z-index: map-get(g.$layer, floating);

  &.is-show {
    display: flex;
  }
}
