@use '../global' as g;

.c-text-speechBubble {
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 1;
  color: g.$cr-m;
  padding: 7px 9px;
  border: 1px solid g.$cr-m;
  display: inline-block;
  transform: skew(-10deg);
  position: relative;
  margin-bottom: 25px;

	@include g.mq("md") {
    font-size: 24px;
		padding: 15px 23px;
  }

  span {
    transform: skew(10deg);
    display: inline-block;
  }

  &::before,
  &::after {
    transform: skew(10deg);
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    transform: translateX(-50%) skew(10deg);
  }

  &::before {
    border-width: 23px 20px 0 0;
    border-color: #ffffff transparent transparent transparent;
    bottom: -22px;
    left: calc(50% - 1px);
    z-index: 3;
  }

  &::after {
    border-width: 23px 20px 0 0;
    border-color: g.$cr-m transparent transparent transparent;
    bottom: -23px;
    left: 50%;
    z-index: 2;
  }
}
