@use '../global' as g;

.c-text-bubble {
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 1;
  color: g.$cr-m;
  background: #fff;
  padding: 6px 9px;
  border: 1px solid g.$cr-m;
  display: inline-block;
  transform: skew(-10deg);
  position: relative;
  margin-bottom: 25px;

  @include g.mq("md") {
    font-size: 24px;
    padding: 15px 23px;
  }

  span {
    transform: skew(10deg);
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    transform: skew(10deg);
    border-width: 12px 9px 0 0;
  }

  &::before {
    border-color: #ffffff transparent transparent transparent;
    bottom: -11px;
    right: calc(45% + 1px);
    z-index: 3;
  }

  &::after {
    border-color: g.$cr-m transparent transparent transparent;
    bottom: -12px;
    right: 45%;
    z-index: 2;
  }
}
