@use '../global' as g;

.c-text-checkMark {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: calc(24px + 8px);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: transparent url(../img/icon-check.png) no-repeat center center / contain;
  }

  @include g.mq("md") {
    font-size: 18px;
    letter-spacing: 0.05em;
  }
}
